<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="row">
      <div class="col-md-12">
        <h2> ORDER # <%= @order.order_no %> <br>
          <small>
            Thank you for purchase!
          </small>
        </h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="70%">Order summary</th>
            </tr>
          </thead>
          <tbody>
            <% @order_details.each do |order_detail| %>
              <tr>
                <td>
                  <%= order_detail.product_title %> * <%= order_detail.quantity%>
                </td>
                <td>
                  <%= order_detail.subtotal %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>Subtotal</td>
              <td>¥<%= @order.amount_total %></td>
            </tr>
            <tr>
              <td>Shipping</td>
              <td>¥<%= @order.shipping_fee %></td>
            </tr>
            <tr>
              <td>Total</td>
              <td>¥<%= @order.amount_total + @order.shipping_fee %></td>
            </tr>
          </tbody>
        </table>
        <hr>
        <h4> Customer information </h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th align="left">Billing address</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @address.receiver %></td>
            </tr>
            <tr>
              <td><%= @address.post_code %></td>
            </tr>
            <tr>
              <td><%= @address.detail_address %></td>
            </tr>
          </tbody>
        </table>
        <br/>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Payment method</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ending with: <%= @order.last4 %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <p>If you have any questions, contact us at monstercf.service@gmail.com</p>
  </body>
</html>